body {
    background-color:#caebeb;
    padding: 50px;
    font-size: 120%;
}

div#content {
    padding: 20px;
    background-color:#caebda;
    border: 4px #f2f236;
    height: 20vh;
}

h1, h2, h3, h4{
    font-family: georgia, impact;
    color:#443030;
}
p.callout{
    font-family; georgia, impact;

}
img:hover {
    transform: scaleX(-1);
    border: 1px solid #ddd;
    padding: 5px;
    width: 500px;
    height: 600px;

}

a {
    text-decoration: none;
    color: #7e5a5a;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
