body, #container{
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("../img/planets.jpeg");
    background-size: cover;

}

#title{
    position: absolute;
    width: 100rw;
    height: 50px;
    top: 10%;
    right: 50%;
    transform: translate(50%);
    font-size: 80px;
    font-family: "Lobster", cursive;
    word-spacing: 10px;
    text-align: center;
    color: #85fffa;
    padding: 3%;
}

#dates-box{
    position: absolute;
    text-align: center;
    color: #ffa600;
    margin: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

#ticket-box{
    position: absolute;
    background-color: #ff6455;
    padding: 10px 55px;
    border-radius: 80px;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    text-align: center;
    display: inline-block;
    transform: translate(-50%, -50%);
    top:70%;
    left:50%;
    color: #093394;
}
