body {
    background-color:#96b296 ;
    padding: 50px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color:#ebebe0;
    border: solid 1px #435038;
    height: 80vh;
}

h1, h2, h3 {
    font-family: georgia, impact;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
